/* style.module.css */
.pageHeader {
    margin: 8px 0;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    color: #364760;
}

.tableContainer {
    max-height: 730px;
    /* Фиксированная высота контейнера */
    overflow-y: auto;
    /* Включаем вертикальную прокрутку */
}

.tableFixed thead th {
    position: sticky;
    /* Фиксация шапки */
    top: 0;
    /* Шапка всегда вверху */
    background-color: white;
    /* Цвет фона шапки */
    z-index: 10;
    /* Чтобы шапка была над телом таблицы */
}

/* Стили для заголовка */
.pageHeader {
    margin: 8px 0;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    color: #364760;
}

/* Стили для блока с данными пользователя */
.userDetails {
    margin-top: 20px;
    padding: 20px;

}

.userDetails p {
    margin: 0;

}

.userDetails strong {
    color: #364760;
}

/* Стили для сообщения об ошибке */
.errorMessage {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}

/* Контейнер для круга и данных пользователя */
.userContainer {
    display: flex;
    /* Размещаем элементы в одной строке */
    align-items: center;
    /* Выравниваем элементы по верхнему краю */
    gap: 10px;
    /* Расстояние между кругом и данными */
}

/* Стили для данных пользователя */
.userDetails {
    flex: 1;
    margin: 0px;
    /* Занимает оставшееся пространство */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Стили для круга (если нужно) */
.circleContainer {
    flex-shrink: 0;
    /* Запрещаем сжатие круга */
}

.fio {
    font-size: 24px;
    line-height: 34px;
    /* Большой размер шрифта */
    color: #212121;
    /* Цвет текста */
    margin: 0px;
}

/* Стили для имени для входа */
.name {
    font-size: 14px;
    /* Средний размер шрифта */
    color: #808080;
    /* Серый цвет текста */
    margin: 0px;
}

/* Стили для службы */
.department {
    font-size: 14px;
    /* Меньший размер шрифта */
    color: #212121;
    /* Светло-серый цвет текста */
    margin: 0px;
}

/* Стили для вкладок */
.customTabs {
    background-color: #f2f2f2;

}

.customTab {
    background-color: #f2f2f2;

}

.customTabs .nav-link {
    color: #007bff !important;
    font-weight: bold;
    border-top: 3px solid #007bff !important;
    padding: 10px 15px !important;
    margin: 0 5px !important;
    background-color: #8d2b2b;
}

.customTabs .nav-link.active {
    background-color: #007bff !important;
    color: white !important;
    border-top: 3px solid #007bff !important;
}

.customTabs .nav-link:hover {
    color: #0056b3 !important;
    border-top: 3px solid #0056b3 !important;
}

.customTabs .nav-item {
    border-top: 3px solid transparent !important;
}

.customTabs .nav-item.active {
    border-top: 3px solid #007bff !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}