.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 250px; /* Такой же как ширина панели навигации */
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

/* Остальные ваши стили остаются */
.full-height-container {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./Image/UI.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-fon {
  background-color: #ffffff;
}

.logo {
  width: 250px;
  height: 48px;
  text-align: right;
}

.head {
  height: 48px;
  background-color: #2c353c;
  border-bottom: 1px solid #222b34;
  width: 100%;
}

.clock-bg {
  background-color: #259ed5;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 99;
  
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 60px;
  }
  
  .app-container {
    flex-direction: column;
  }
}