.full-height-container {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./Image/UI.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-fon {
  background-color: #F3F5F5;
}

.logo {
  width: 250px;
  height: 90px;
  background-color: #25292A;
  text-align: right;
}

.head {
  height: 90px;
  background-color: white;
}

.content {
  background-color: #F3F5F5;
  height: 90.6%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}