.tableContainer {
    max-height: 670px; /* Задайте нужную высоту */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    position: relative; /* Для корректного позиционирования sticky */
}

.table {
    width: 100%;
    table-layout: fixed; /* Равномерное распределение ширины столбцов */
    border-collapse: collapse; /* Убираем двойные границы */
}

.headTable {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 28px;
    width: 100%;
    background-color: #dee6ea;
    color: #212121;
    font-size: 12px;
}

.bodyTable {
    font-size: 12px;
}

.bodyTable tr {
    border-bottom: 1px solid #dfe6ee;
}

/* Убедитесь, что ячейки таблицы также имеют одинаковую ширину */
.table th,
.table td {
    padding: 8px; /* Добавляем отступы для текста */
    text-align: left; /* Выравнивание текста по левому краю */
    word-wrap: break-word; /* Перенос текста, если он не помещается */
}
.headTable th {
    border-right: 1px solid #ccc; /* Черточка между колонками */
    padding: 8px; /* Отступы для текста */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Убираем правую границу у последней ячейки */
.headTable th:last-child {
    border-right: none;
}
.bodyTable tr:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
    cursor: pointer; /* Курсор в виде указателя */
}

.pageHeader {
    color: #364760;
    font-size: 24px;
}