.topPanel {
  
  margin-bottom: 16px;
  flex-shrink: 0;
}

.toggleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid;
  margin-right: 8px;
}

.toggleLabel {
  font-size: 12px;
  white-space: nowrap;
}