/* Стили для таблицы */


.table th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  padding: 10px;
 
}

.table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: #ecebeb
}

.table th:first-child {
  width: 200px;
}

.table td:first-child {
  width: 200px;
}
.table-fixed thead th {
  position: sticky;
  top: 85px;
  z-index: 10;
  
}
.weekend {
  background-color: #bdbdbd !important; /* Цвет фона для выходных */
  color: #333 !important; /* Цвет текста для выходных */
}
.table-tr{
  background-color: white; 
}
.today{
  background-color: #6eb87a !important;
}