.tableContainer {
    max-height: 670px;
    /* Задайте нужную высоту */
    overflow-y: auto;
    /* Включаем вертикальную прокрутку */
    position: relative;
    font-size: 16px;
    /* Для корректного позиционирования sticky */
}

.table {
    width: 100%;
    table-layout: fixed;
    /* Равномерное распределение ширины столбцов */
    border-collapse: collapse;
    /* Убираем двойные границы */
}

.headTable {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 28px;
    width: 100%;
    background-color: #dee6ea;
    color: #212121;
    font-size: 12px;
}

.bodyTable {
    font-size: 12px;
}

.bodyTable tr {
    border-bottom: 1px solid #dfe6ee;
}

/* Убедитесь, что ячейки таблицы также имеют одинаковую ширину */
.table th,
.table td {
    padding: 8px;
    /* Добавляем отступы для текста */
    text-align: left;
    /* Выравнивание текста по левому краю */
    word-wrap: break-word;
    /* Перенос текста, если он не помещается */
}

.headTable th {
    border-right: 1px solid #ccc;
    /* Черточка между колонками */
    padding: 8px;
    /* Отступы для текста */
    text-align: left;
    /* Выравнивание текста по левому краю */
}

/* Убираем правую границу у последней ячейки */
.headTable th:last-child {
    border-right: none;
}

.bodyTable tr:hover {
    background-color: #f0f0f0;
    /* Цвет фона при наведении */
    cursor: pointer;
    /* Курсор в виде указателя */
}

.pageHeader {
    color: #364760;
    font-size: 24px;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.fio {
    font-size: 24px;
    margin: 0;
}

.name {
    color: gray;
    font-size: 16px;
    margin: 4px 0 0 0;
}

.department {
    font-size: 16px;
    color: #212121;
    margin: 4px 0 0 0;
}



.customtabs :global(.nav-link) {
    height: 32px;
    padding: 0 24px;
    border-radius: 1px;
    background-color: #ebebeb;
    border-bottom: none;
    color: #4f4f4f;
}



.customtabs :global(.nav-link.active) {
    background-color: #fff;
    border-top: 2px solid #60a8d8;
    border-bottom: none;
    height: 32px;
    padding: 0 24px;

}

.fioLink {
    color: #117aa8;
    cursor: pointer;
}

.tableWrapper {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.stickyTable thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.sortableHeader {
    cursor: pointer;
    user-select: none;
    background: #f8f9fa;
    transition: background-color 0.3s;
}

.sortableHeader:hover {
    background-color: #e9ecef;
}
.tableRowDeleted {
    background-color: #f3ced1;
}
/* Добавьте эти стили в style.module.css */
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
    width: auto;
}

.spinner {
    width: 5rem;
    height: 5rem;
}

.buttonsContainer {
    display: flex;
}

.copyButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.copyButton:hover {
    color: #FA922F;
}

.copyIcon {
    margin-left: 8px;
}

.editButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.editButton:hover {
    color: #FA922F;
}

.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.deleteButton:hover {
    color: #FA922F;
}

.deleteIcon {
    margin-left: 8px;
}