/* Стилизация блока с ролью *//* Стилизация блока с ролью */
.role-block {
    background-color: #c9c9c9; /* Серый фон */
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 14px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

/* Кнопка удаления */
.role-block button {
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    color: black;
    background: none;
    border: none;
    outline: none;
}

.role-block button:hover {
    color: #FA922F;
}

/* Дополнительные стили для выравнивания */
td {
    vertical-align: middle;
}

.button-create {
    background-color: #25292A;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 25px;
    margin-left: auto;
    font-size: 12px;
}
.button-create:hover {
    background-color: #25292A;
    height: 25px;
    color:#FA922F;
}
.button-create:hover .icon-staff {
    color:#FA922F; 
}
.create-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    color: #c9c9c9;
}
.create-button:hover{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    color: #FA922F;
}
