

.headerbtn {
    cursor: pointer;
    margin: 16px 0;
    
    margin-right: 8px;
    
}

.configbtn {
    color: #0973a1;
    fill: #0973a1 ;
    border: 1px solid #acd5e6;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 14px;
    background-color: white;
    
}
.iconbtn {
    margin-right: 4px;
}
.disabled {
    opacity: 0.5; /* Делаем кнопку полупрозрачной */
    cursor: not-allowed; /* Меняем курсор на "недоступно" */
    pointer-events: none; /* Отключаем события мыши */
}