.leftProperty{
    text-align: right;
    margin: 0px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -150px;
}
.leftProperty p{
    
    margin: 0px;
}

.rightProperty{
    text-align: left;
    padding-left: 10px;
    margin-top: 30px;
    
}
.rightProperty p{
    margin: 0;
    
}
.table-prints{
    font-size: 11px;
    text-align: center;
}
.green-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
}

.red-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
}