.leftProperty{
    text-align: right;
    margin: 0px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -150px;
}
.leftProperty p{
    
    margin: 0px;
}

.rightProperty{
    text-align: left;
    padding-left: 10px;
    margin-top: 30px;
    
}
.rightProperty p{
    margin: 0;
    
}
.table-prints {
    max-height: 650px; /* или любая другая высота */
    height: 650px; /* если нужна строгая фиксация */
    overflow-y: auto; /* вертикальный скролл */
    display: block; /* чтобы таблица не растягивала родителя */
    font-size: 11px;
    text-align: center;
    width: 100%; /* чтобы не сжималась */
    margin-bottom: 0; /* убираем лишние отступы */
}

/* Дополнительно: стиль для шапки таблицы, чтобы она не скроллилась */
.table-prints thead {
    position: sticky;
    top: 0;
    background-color: white; /* или любой другой фон */
    z-index: 1;
}

.green-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
}

.red-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
}