.menu {
     background: transparent;
     border-right: 0;
     margin-top: 8px;
}

.menu :global(.ant-menu-item) {
     height: 48px;
     line-height: 48px;
     margin: 0;
     border-radius: 0;
     margin-bottom: 2px;
}

.menu :global(.ant-menu-item:hover) {
     background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu :global(.ant-menu-item-selected) {
     background-color: #1890ff !important;
     border-left: 3px solid #FA922F;
}

.menu :global(.ant-menu-submenu-title) {
     height: 48px;
     line-height: 48px;
     margin: 0;
     border-radius: 0;
     margin-bottom: 2px;
}

.menu :global(.ant-menu-submenu-title:hover) {
     background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu :global(.ant-menu-submenu-selected > .ant-menu-submenu-title) {
     color: #FA922F !important;
}

.menu :global(.ant-menu-submenu-arrow) {
     color: rgba(255, 255, 255, 0.65);
}

.menu :global(.ant-menu-item a) {
     color: inherit;
     text-decoration: none;
}

.menu :global(.ant-menu-item a:hover) {
     color: inherit;
}