/* Контейнер таблицы с фиксированной высотой и прокруткой */
.tableContainer {
    max-height: 730px; /* Фиксированная высота */
    overflow-y: auto;  /* Включаем вертикальную прокрутку */
    width: 100%;       /* Ширина контейнера */
}

/* Фиксация шапки таблицы */
.tableFixed thead th {
    position: sticky; /* Фиксация шапки */
    top: 0;           /* Шапка всегда вверху */
    background-color: white; /* Цвет фона шапки */
    z-index: 1;       /* Чтобы шапка была над телом таблицы */
}

/* Стили для таблицы */
.tableFixed {
    font-size: 12px;
    width: 100%;
    table-layout: fixed; /* Фиксированная ширина столбцов */
    border-collapse: collapse; /* Убираем двойные границы */
}

/* Стили для заголовков */
.tableHeader {
    width: 16%; /* Ширина столбцов */
    text-align: left; /* Выравнивание текста */
}