.headerbtn {
    cursor: pointer;
    /* Убрали margin из CSS, так как теперь он управляется пропсами */
}

.configbtn {
    color: #0973a1;
    fill: #0973a1;
    border: 1px solid #acd5e6;
    border-radius: 3px;
    font-size: 14px;
    background-color: white;
    /* Убрали padding из CSS, так как теперь он управляется пропсами */
}

.iconbtn {
    margin-right: 4px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}