.blockInfo {
    display: flex;

}


.blockInfoStatic {
    width: 440px;
    background-color: #e2e2e2;
    text-align: right;
    padding: 7px 12px;
}

.blockInfoDinamic {
    text-align: left;
    padding: 7px 12px;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
}

.formlabel {
    font-size: 12px;
    margin-bottom: 0px;
    color: #828282;
}
.formcontrol {
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #acd5e6;
}

.formcontrol[readOnly] {
    background-color: #f0f0f0; /* Серый цвет фона */
    color: #666; /* Серый цвет текста */
}