/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.vertical-menu {
 background: linear-gradient(to top, #002e3d, #004c5e);
  height: 100vh;
  width: 250px;
  font-size: 13px;
  font-weight: bold;
  padding: auto;
  
}
.vertical-menu .nav-link  {
  height: 48px;
  color: #ebebeb;
  display: inline-flex;
  align-items: center;
  
}

.vertical-menu .nav-link:hover {
  background-color: #004c5e;
  color: #b9d1db;
  width: 250px; 
}
.vertical-menu .nav-link.active {
  border-left: 4px solid #fa922f;
  padding-left: 13px;
  background-color: #dbdbdb; /* Зеленый цвет для активной кнопки */
  color: #004c5e; 
  width: 250px;             /* Белый текст для контраста */
}

.vertical-menu .nav-link.active .icon{

  color: #fa922f;              /* Белый текст для контраста */
}
.navbar-fixed {
  position: sticky;
  top: 0;
  z-index: 1020; /* Установите подходящий z-index, чтобы NavBar находился над другими элементами */
}
.admin-dropdown {
  list-style-type: none;
  
  margin-top: 0;
  background-color: #444;
}

.admin-dropdown li a {
  color: white;
  text-decoration: none;
  padding: 6px 0;
  display: block;
}

.admin-dropdown li a:hover{
  background-color: rgba(255, 165, 47, 0.7);
}

.admin-dropdown-active{
  background-color: rgba(255, 165, 47, 0.7);
}

ul {
  padding-inline-start: 0;
}